.container{
  padding-top:25px;
}
.delete{
  background-color: #902AEA ;
  color:white;
}
.delete:hover{
  background-color: #9877AD  ;
  color:white;
}
.btn{
  color:white;
}
.btn-warning{
  margin-right: 10px;
}
.btn-view{
  background-color:#C0F343 ;
}
.btn-view:hover{
  background-color:rgb(139, 185, 112) ;
}
.h2{
  margin-bottom: 10px;;
}
.searchField{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:20px;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  margin-bottom:10px;
}
