<form  action="/home" method="POST">
        <div >
            <label>Accident Category</label>
            <input type="text" name="accident[category]">
        </div>
        <div >
            <label>Date</label>
            <input type="text" name="accident[date]">
        </div>
        <div >
            <label>Time</label>
            <input type="text" name="accident[time]">
        </div>
        <div >
            <label>Location</label>
            <input type="text" name="accident[location]">
        </div>
        <div >
            <label>Vehicles</label>
            <input type="text" name="accident[vehicles]">
        </div>
        <div >
            <div>
                <label>Person Name</label>
                <input type="text" name="accident[person][name]">
            </div>

            <div>
                <label>Person Age</label>
                <input type="Number" name="accident[person][age]">
            </div>

            <div>
                <label>Person Gender</label>
                <input type="text" name="accident[person][gender]">
            </div>
        </div>

        <div>
            <label>Services Used</label>
            <input type="text" name="accident[services_used]">
        </div>

        <div>
            <label>Actions Taken</label>
            <input type="text" name="accident[action]">
        </div>

        <div>
            <label>Image</label>
            <input type="text" name="accident[image]">
        </div>

        <div>
            <label>Description</label>
            <input type="text" name="accident[description]">
        </div>

        
        <button >Create Post</button>
</form>
